body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: #ecf0f3;
  font-family: "Rubik", "monospac";
}

#navbar {
  padding: 0 50px 0 50px;
  width: calc(100% - 0px);
  background-color: #dfe9f0;
}
#navbar #saurav-logo-div {
  display: flex;
  align-items: center;
  flex-direction: row;
}
#navbar #saurav-logo-div #saurav-logo-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#navbar #saurav-logo-div #saurav-logo {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #ff014f;
}
#navbar .nav-link {
  transition: all ease 0.3s;
  color: rgba(74, 6, 81, 0.831372549);
  font-family: "Rubik", "monospac";
}
#navbar .nav-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: relative;
  background: #ff014f;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
#navbar .nav-link:hover:after {
  width: 100%;
  left: 0;
}
#navbar .nav-link:hover {
  color: #ff014f;
  text-underline-offset: 2px #ff014f;
}
#navbar .resume-button {
  outline: 0;
  border: 0;
  width: 120px;
  padding: 5px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: #ff014f;
  border-radius: 5px;
  transition: all ease 0.3s;
}
#navbar .resume-button:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 768px) {
  #navbar {
    padding: 10px 20px 0 20px;
  }
}
@media only screen and (max-width: 480px) {
  #navbar {
    padding: 0 10px;
  }
}
.hero-banner {
  padding: 80px 100px;
  height: auto;
}
.hero-banner .content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.hero-banner .content .banner-img {
  position: relative;
  left: -50px;
  width: 600px;
  height: 550px;
  margin-top: 20px;
  border-radius: 20px;
  animation: fromRight 1.5s ease-out 0.2s forwards;
}
.hero-banner .content .text-content {
  color: #4a0651;
  display: flex;
  flex-direction: column;
  z-index: 2;
  animation: fromLeft 0.8s ease-out forwards;
}
.hero-banner .content .text-content .welcome-text {
  font-size: 16px;
  font-weight: 500;
  max-width: 500px;
  line-height: 25px;
  letter-spacing: 2px;
}
.hero-banner .content .text-content .title {
  letter-spacing: 1px;
  font-size: 50px;
  font-weight: 700;
}
.hero-banner .content .text-content .sub-title {
  letter-spacing: 1px;
  font-size: 40px;
  font-weight: 700;
}
.hero-banner .content .text-content .desc {
  letter-spacing: 0.5px;
  margin-top: 10px;
  font-size: 16px;
  max-width: 700px;
  line-height: 30px;
}
.hero-banner .content .text-content .links-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}
.hero-banner .content .text-content .links-div a {
  text-decoration: none;
  color: black;
}
.hero-banner .content .text-content .links-div .socials-div, .hero-banner .content .text-content .links-div .skils-div {
  text-align: center;
}
.hero-banner .content .text-content .links-div .socials-div i, .hero-banner .content .text-content .links-div .skils-div i {
  padding: 30px 20px;
  margin-top: 20px;
  margin-right: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  cursor: pointer;
  transition: all ease 0.3s;
}
.hero-banner .content .text-content .links-div .socials-div i:hover, .hero-banner .content .text-content .links-div .skils-div i:hover {
  transform: translate(0, -5px);
  background-color: #ff014f;
}

@keyframes fromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0; /* Fade in effect */
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fromRight {
  0% {
    transform: translateX(100%);
    opacity: 0; /* Fade in effect */
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@media only screen and (max-width: 768px) {
  .hero-banner {
    padding: 40px 60px;
  }
  .hero-banner .content .banner-img {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .hero-banner {
    padding: 30px 30px;
  }
  .hero-banner .content {
    flex-direction: column;
  }
  .hero-banner .content .banner-img {
    position: unset;
    width: calc(100% - 20px);
    height: auto;
  }
  .hero-banner .content .text-content .welcome-text {
    font-size: 16px;
    font-weight: 500;
  }
  .hero-banner .content .text-content .title {
    letter-spacing: 1px;
    font-size: 30px;
    font-weight: 600;
  }
  .hero-banner .content .text-content .sub-title {
    letter-spacing: 1px;
    font-size: 30px;
    font-weight: 600;
  }
  .hero-banner .content .text-content .desc {
    margin-top: 10px;
    font-size: 16px;
    max-width: calc(100% - 20px);
    line-height: 20px;
  }
  .hero-banner .content .text-content .links-div {
    flex-direction: column;
    gap: 20px;
  }
}
.about-div {
  padding: 0px 50px 80px 50px;
}
.about-div .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-div .container .image-div {
  flex-basis: 33%;
  margin: auto 0;
  border-radius: 20px 20px 20px 20px;
  max-height: fit-content;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.about-div .container .image-div img {
  width: 100%;
  max-height: fit-content;
  border-radius: 20px 20px 20px 20px;
}
.about-div .container .details-div {
  flex-basis: 60%;
}
.about-div .container .details-div .sec-heading {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  color: #4a0651;
}
.about-div .container .details-div .tab-titles {
  display: flex;
  flex-direction: row;
  margin: 20px 0 40px;
}
.about-div .container .details-div .tab-titles .tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.about-div .container .details-div .tab-titles .tab-links:after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #ff014f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: all ease 0.3s;
}
.about-div .container .details-div .tab-titles .active-link::after {
  width: 100%;
}
.about-div .container .details-div .tab-contents {
  display: none;
  margin-top: -20px;
}
.about-div .container .details-div .tab-contents ul li {
  list-style: circle;
}
.about-div .container .details-div .tab-contents ul span {
  color: #ff014f;
}
.about-div .container .details-div .active-tab {
  display: block;
}

@media only screen and (max-width: 768px) {
  .about-div {
    padding: 20px 40px;
  }
  .about-div .container .image-div {
    display: none;
  }
  .about-div .container .details-div {
    flex-basis: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .about-div {
    padding: 0px 20px;
  }
  .about-div .container .image-div {
    display: none;
  }
  .about-div .container .details-div {
    flex-basis: 100%;
    width: calc(100% - 20px);
  }
  .about-div .container .details-div .sec-heading {
    font-size: 20px;
  }
  .about-div .container .details-div .desc {
    width: calc(100% - 20px);
  }
  .about-div .container .details-div .tab-titles {
    display: flex;
    font-size: 16px;
  }
  .about-div .container .details-div .tab-titles .tab-links {
    font-size: 16px;
    margin-right: 10x;
  }
  .about-div .container .details-div .tab-titles .active-link::after {
    width: 100%;
  }
  .about-div .container .details-div .tab-contents {
    font-size: 16px;
    display: none;
  }
  .about-div .container .details-div .active-tab {
    display: block;
  }
}
.technical-skills-div {
  padding: 50px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.technical-skills-div .sec-heading {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 80px;
  color: #4a0651;
}
.technical-skills-div .technical-skills-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 100px;
}
.technical-skills-div .technical-skills-list .icon-card {
  padding: 20px;
  width: 150px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.08);
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  animation: wave 2s infinite;
}
.technical-skills-div .technical-skills-list .icon-card:hover {
  transform: scale(0.85);
}
.technical-skills-div .technical-skills-list div:nth-child(1) {
  animation-delay: 0.1s;
}
.technical-skills-div .technical-skills-list div:nth-child(2) {
  animation-delay: 0.2s;
}
.technical-skills-div .technical-skills-list div:nth-child(3) {
  animation-delay: 0.3s;
}
.technical-skills-div .technical-skills-list div:nth-child(4) {
  animation-delay: 0.4s;
}
.technical-skills-div .technical-skills-list div:nth-child(5) {
  animation-delay: 0.5s;
}
.technical-skills-div .technical-skills-list div:nth-child(6) {
  animation-delay: 0.1s;
}
.technical-skills-div .technical-skills-list div:nth-child(7) {
  animation-delay: 0.2s;
}
.technical-skills-div .technical-skills-list div:nth-child(8) {
  animation-delay: 0.3s;
}
.technical-skills-div .technical-skills-list div:nth-child(9) {
  animation-delay: 0.4s;
}
.technical-skills-div .technical-skills-list div:nth-child(10) {
  animation-delay: 0.5s;
}
.technical-skills-div .technical-skills-list div:nth-child(11) {
  animation-delay: 0.1s;
}
.technical-skills-div .technical-skills-list div:nth-child(12) {
  animation-delay: 0.2s;
}
.technical-skills-div .technical-skills-list div:nth-child(13) {
  animation-delay: 0.3s;
}
.technical-skills-div .technical-skills-list div:nth-child(14) {
  animation-delay: 0.4s;
}
.technical-skills-div .technical-skills-list div:nth-child(15) {
  animation-delay: 0.5s;
}
.technical-skills-div .technical-skills-list div:nth-child(16) {
  animation-delay: 0.1s;
}
.technical-skills-div .technical-skills-list img {
  width: 100%;
  height: 100%;
}

@keyframes wave {
  0% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-40px);
  }
}
@media only screen and (max-width: 768px) {
  .technical-skills-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .technical-skills-div .technical-skills-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }
  .technical-skills-div .technical-skills-list .icon-card {
    width: 130px;
    height: 130px;
  }
  .technical-skills-div .technical-skills-list div:nth-child(1) {
    animation-delay: 0.1s;
  }
  .technical-skills-div .technical-skills-list div:nth-child(2) {
    animation-delay: 0.2s;
  }
  .technical-skills-div .technical-skills-list div:nth-child(3) {
    animation-delay: 0.3s;
  }
  .technical-skills-div .technical-skills-list div:nth-child(4) {
    animation-delay: 0.1s;
  }
  .technical-skills-div .technical-skills-list div:nth-child(5) {
    animation-delay: 0.2s;
  }
  .technical-skills-div .technical-skills-list div:nth-child(6) {
    animation-delay: 0.3s;
  }
  .technical-skills-div .technical-skills-list div:nth-child(7) {
    animation-delay: 0.1s;
  }
  .technical-skills-div .technical-skills-list div:nth-child(8) {
    animation-delay: 0.2s;
  }
  .technical-skills-div .technical-skills-list div:nth-child(9) {
    animation-delay: 0.3s;
  }
  .technical-skills-div .technical-skills-list div:nth-child(10) {
    animation-delay: 0.1s;
  }
  .technical-skills-div .technical-skills-list div:nth-child(11) {
    animation-delay: 0.2s;
  }
  .technical-skills-div .technical-skills-list div:nth-child(12) {
    animation-delay: 0.3s;
  }
  .technical-skills-div .technical-skills-list div:nth-child(13) {
    animation-delay: 0.1s;
  }
  .technical-skills-div .technical-skills-list div:nth-child(14) {
    animation-delay: 0.2s;
  }
  .technical-skills-div .technical-skills-list div:nth-child(15) {
    animation-delay: 0.3s;
  }
  .technical-skills-div .technical-skills-list div:nth-child(16) {
    animation-delay: 0.1s;
  }
}
@media only screen and (max-width: 480px) {
  .technical-skills-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .technical-skills-div .sec-heading {
    font-size: 20px;
    margin-bottom: 60px;
  }
  .technical-skills-div .technical-skills-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .technical-skills-div .technical-skills-list .icon-card {
    width: 80px;
    height: 80px;
  }
  .technical-skills-div .technical-skills-list div:nth-child(1) {
    animation-delay: 0.1s;
  }
  .technical-skills-div .technical-skills-list div:nth-child(2) {
    animation-delay: 0.2s;
  }
  .technical-skills-div .technical-skills-list div:nth-child(3) {
    animation-delay: 0.3s;
  }
  .technical-skills-div .technical-skills-list div:nth-child(4) {
    animation-delay: 0.1s;
  }
  .technical-skills-div .technical-skills-list div:nth-child(5) {
    animation-delay: 0.2s;
  }
  .technical-skills-div .technical-skills-list div:nth-child(6) {
    animation-delay: 0.3s;
  }
  .technical-skills-div .technical-skills-list div:nth-child(7) {
    animation-delay: 0.1s;
  }
  .technical-skills-div .technical-skills-list div:nth-child(8) {
    animation-delay: 0.2s;
  }
  .technical-skills-div .technical-skills-list div:nth-child(9) {
    animation-delay: 0.3s;
  }
  .technical-skills-div .technical-skills-list div:nth-child(10) {
    animation-delay: 0.1s;
  }
  .technical-skills-div .technical-skills-list div:nth-child(11) {
    animation-delay: 0.2s;
  }
  .technical-skills-div .technical-skills-list div:nth-child(12) {
    animation-delay: 0.3s;
  }
  .technical-skills-div .technical-skills-list div:nth-child(13) {
    animation-delay: 0.1s;
  }
  .technical-skills-div .technical-skills-list div:nth-child(14) {
    animation-delay: 0.2s;
  }
  .technical-skills-div .technical-skills-list div:nth-child(15) {
    animation-delay: 0.3s;
  }
  .technical-skills-div .technical-skills-list div:nth-child(16) {
    animation-delay: 0.1s;
  }
}
.projects-list {
  padding: 80px 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.projects-list .sec-heading {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  color: #4a0651;
}
.projects-list > div:nth-child(2) {
  animation-delay: 0.12s;
}
.projects-list > div:nth-child(3) {
  animation-delay: 0.2s;
}
.projects-list .project-card {
  background-color: #f0f3f5;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  transition: all ease 0.3s;
  animation: fromBottom 1s ease-out forwards;
}
.projects-list .project-card .card-img {
  padding: 20px;
  width: 50%;
  height: 400px;
}
.projects-list .project-card .card-img img {
  border-radius: 10px 0 0 10px;
  width: 100%;
  height: 100%;
}
.projects-list .project-card .card-details {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.projects-list .project-card .card-details .title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 700;
  color: #ff014f;
}
.projects-list .project-card .card-details .desc {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.projects-list .project-card .card-details .card-sub-details {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.projects-list .project-card .card-details .card-sub-details p {
  font-size: 14px;
  font-weight: 400;
  font-weight: 900;
}
.projects-list .project-card .card-details .card-sub-details h3 {
  font-size: 18px;
  font-weight: 700;
  color: rgba(247, 20, 88, 0.8588235294);
}
.projects-list .project-card .card-details .card-sub-details .tech-stack {
  text-align: center;
}
.projects-list .project-card .card-details .card-sub-details .tech-stack .icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.projects-list .project-card .card-details .card-sub-details .tech-stack .icons img {
  width: 40px;
  height: 40px;
  padding: 0 5px;
  margin-right: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  cursor: pointer;
}
.projects-list .project-card .card-details .link-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}
.projects-list .project-card .card-details .link-buttons button {
  outline: 0;
  border: 0;
  padding: 5px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: #ff014f;
  border-radius: 5px;
  transition: all ease 0.3s;
}
.projects-list .project-card .card-details .link-buttons .view-project-btn:hover {
  transform: scale(1.05);
}
.projects-list .project-card .card-details .link-buttons .gitHub-btn:hover {
  transform: scale(1.05);
}
.projects-list .project-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: translateY(-20px);
}

@keyframes fromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media only screen and (max-width: 768px) {
  .projects-list {
    padding: 20px 20px;
    gap: 20px;
  }
  .projects-list .project-card {
    flex-direction: column;
  }
  .projects-list .project-card .card-img {
    width: 100%;
  }
  .projects-list .project-card .card-img img {
    border-radius: 10px 10px 0 0;
  }
  .projects-list .project-card .card-details {
    width: 100%;
  }
  .projects-list .project-card .card-details p {
    font-size: 12px;
  }
  .projects-list .project-card .card-details h3 {
    font-size: 16px;
  }
  .projects-list .project-card .card-details .tech-stack i {
    padding: 20px 10px;
    margin-right: 5px;
  }
}
@media only screen and (max-width: 480px) {
  .projects-list {
    padding: 20px 20px;
    gap: 20px;
  }
  .projects-list .sec-heading {
    font-size: 28px;
  }
  .projects-list .project-card {
    flex-direction: column;
  }
  .projects-list .project-card .card-img {
    width: 100%;
    height: 250px;
  }
  .projects-list .project-card .card-img img {
    border-radius: 10px 10px 0 0;
  }
  .projects-list .project-card .card-details {
    width: 100%;
  }
  .projects-list .project-card .card-details p {
    font-size: 12px;
  }
  .projects-list .project-card .card-details h3 {
    font-size: 16px;
  }
  .projects-list .project-card .card-details .tech-stack i {
    padding: 20px 10px;
    margin-right: 5px;
  }
}
.github-div .sec-heading {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: #4a0651;
  margin-bottom: 30px;
}
.github-div .container {
  padding: 0px 50px 80px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.github-div .container .status-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}
.github-div .container .status-div img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.github-div .container .contributions-div {
  padding: 0 0px;
  width: 100%;
}
.github-div .container .contributions-div .sec-heading {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: #4a0651;
  margin-bottom: 40px;
}
.github-div .container .contributions-div .calendar {
  padding: 0;
  height: auto;
}
.github-div .container .contributions-div .calendar img {
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background: rgba(106, 154, 196, 0.4941176471);
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .github-div .container {
    padding: 0px 30px 50px 30px;
  }
  .github-div .container .status-div {
    flex-direction: row;
  }
  .github-div .container .status-div img {
    max-width: 350px;
  }
}
@media screen and (max-width: 480px) {
  .github-div .sec-heading {
    font-size: 22px;
  }
  .github-div .container {
    padding: 0px 30px 50px 30px;
    flex-direction: column;
  }
  .github-div .container .status-div {
    flex-direction: column;
  }
  .github-div .container .status-div img {
    max-width: 350px;
  }
  .github-div .contributions-div {
    display: none;
  }
}
.contact-box {
  width: clamp(100px, 90%, 1000px);
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
}
.contact-box .contact-links, .contact-box .contact-form-wrapper {
  width: 50%;
  padding: 8% 5% 10% 5%;
}
.contact-box .contact-links {
  background-color: #1f2e43;
  background: radial-gradient(circle at 55% 92%, #426691 0 12%, transparent 12.2%), radial-gradient(circle at 94% 72%, #426691 0 10%, transparent 10.2%), radial-gradient(circle at 20% max(78%, 350px), #263a53 0 7%, transparent 7.2%), radial-gradient(circle at 0% 0%, #263a53 0 40%, transparent 40.2%), #1f2e43;
  border-radius: 10px 0 0 10px;
}
.contact-box .contact-form-wrapper {
  background-color: rgba(255, 255, 255, 0.5607843137);
  border-radius: 0 10px 10px 0;
}
@media only screen and (max-width: 800px) {
  .contact-box .contact-links, .contact-box .contact-form-wrapper {
    width: 100%;
  }
  .contact-box .contact-links {
    border-radius: 10px 10px 0 0;
  }
  .contact-box .contact-form-wrapper {
    border-radius: 0 0 10px 10px;
  }
}
@media only screen and (max-width: 400px) {
  .contact-box .contact-box {
    width: 95%;
    margin: 8% 5%;
  }
}
.contact-box h2 {
  font-family: "Arimo", sans-serif;
  color: #fff;
  font-size: clamp(30px, 6vw, 60px);
  letter-spacing: 2px;
  text-align: center;
  transform: scale(0.95, 1);
}
.contact-box .links {
  color: white;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.contact-box .link {
  margin: 10px;
  cursor: pointer;
}
.contact-box .link a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  font-size: 18px;
}
.contact-box .phone-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 25px;
}
.contact-box .phone-div #phone-icon {
  width: 45px;
  height: 45px;
  border-radius: 8px;
  background-color: #e1ecff;
  display: inline-block;
}
.contact-box .phone-div #phone-icon > a {
  color: #7faafd;
  margin-left: 0;
}
.contact-box .phone-div #phone-icon > a i {
  font-size: 22px;
  position: relative;
  left: 50%;
  top: 30%;
  transform: translate(-50%);
}
.contact-box img {
  width: 45px;
  height: 45px;
  filter: hue-rotate(220deg) drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.4));
  transition: 0.2s;
  user-select: none;
}
.contact-box img:hover {
  transform: scale(1.1, 1.1);
}
.contact-box img:active {
  transform: scale(1.1, 1.1);
  filter: hue-rotate(220deg) drop-shadow(2px 4px 4px #222) sepia(0.3);
}
.contact-box .form-item {
  position: relative;
}
.contact-box label, .contact-box input, .contact-box textarea {
  font-family: "Poppins", sans-serif;
}
.contact-box label {
  position: absolute;
  top: 10px;
  left: 2%;
  color: #999;
  font-size: clamp(14px, 1.5vw, 18px);
  pointer-events: none;
  user-select: none;
}
.contact-box input, .contact-box textarea {
  width: 100%;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 12px;
  font-size: clamp(15px, 1.5vw, 18px);
}
.contact-box input:focus + label,
.contact-box input:valid + label,
.contact-box textarea:focus + label,
.contact-box textarea:valid + label {
  font-size: clamp(13px, 1.3vw, 16px);
  color: #777;
  top: -20px;
  transition: all 0.225s ease;
}
.contact-box .submit-btn {
  background-color: #ff014f;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: clamp(16px, 1.6vw, 18px);
  display: block;
  padding: 8px 30px;
  margin: 2px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}
.contact-box .submit-btn:hover {
  transform: scale(1.1, 1.1);
}
.contact-box .submit-btn:active {
  transform: scale(1.1, 1.1);
  filter: sepia(0.5);
}
@media only screen and (max-width: 800px) {
  .contact-box h2 {
    font-size: clamp(40px, 10vw, 60px);
  }
  .contact-box #phone-icon {
    width: 60px;
    height: 60px;
  }
  .contact-box .link > a:nth-child(2) {
    font-size: 16px;
  }
}
@media only screen and (max-width: 400px) {
  .contact-box h2 {
    font-size: clamp(30px, 12vw, 60px);
  }
  .contact-box .links {
    padding-top: 30px;
  }
  .contact-box img {
    width: 38px;
    height: 38px;
  }
  .contact-box .link > a:nth-child(2) {
    font-size: 16px;
  }
  .contact-box #phone-icon {
    width: 10px;
    height: 10px;
  }
}

.footer {
  position: relative;
  width: 100%;
  background: #dbe8f2;
  color: rgba(74, 6, 81, 0.831372549);
  padding: 20px 50px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.footer .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
.footer .menu__item {
  list-style: none;
}
.footer .menu__link {
  color: rgba(74, 6, 81, 0.831372549);
  opacity: 0.8;
  font-size: 1.2rem;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
}
.footer .right > p {
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 20px 30px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 480px) {
  .footer {
    padding: 20px 20px;
  }
  .footer h4 {
    font-size: 1rem;
  }
  .footer .menu {
    flex-direction: column;
  }
  .footer .menu__link {
    color: rgba(74, 6, 81, 0.831372549);
    font-size: 0.8rem;
  }
  .footer .right > p {
    color: rgba(74, 6, 81, 0.831372549);
    font-size: 0.9rem;
    font-weight: 400;
  }
}
@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #ff014f;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  z-index: 10;
  transition: all ease 0.3s;
}
#myBtn:hover {
  transform: scale(1.1);
}

/*# sourceMappingURL=index.css.map */
